
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main">

	<div class="bannerhny-content">
		<header class="top-headerhny">
			<!--/nav-->
			<nav class="navbar navbar-expand-lg navbar-light fill">
				<div class="container-fluid">
					
					<a class="navbar-brand"  href="@Url.Action("Index","Website")">
						<label class="lohny"><span class="fa fa-graduation-cap" aria-hidden="true"></span>PS</label>University</a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-lg-auto ml-auto">
							
							<li class="nav-item active">
								@Html.ActionLink("Home","Index","Website",null,new{@class="nav-link"})
							</li>

							<li class="nav-item">
								@Html.ActionLink("About","About","Website",null,new{@class="nav-link"})
							</li>

							<li class="nav-item">
								@Html.ActionLink("Courses","Courses","Website",null,new{@class="nav-link"})
							</li>

						</ul>

					</div>

				</div>
			</nav>
			<!--//nav-->
		</header>

		<!--/banner-slider-->
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<div class="carousel-caption">

							<h3>The World is here, Where are you</h3>
							<p>Motivated by the desire to Achieve.</p>

						</div>
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="container">
						<div class="carousel-caption">
							<h3>One class can
								change everything.</h3>
							<p>We believe that every student is unique</p>
							
						</div>
					</div>
				</div>
				<div class="carousel-item item3">
					<div class="container">
						<div class="carousel-caption">
							<h3>Motivated by the desire to Achieve</h3>
							<p>They get their doubts solved instantly.</p>
							
						</div>
					</div>
				</div>
				<div class="carousel-item item4">
					<div class="container">
						<div class="carousel-caption">
							<h3>Better learning
								for better results.</h3>
							<p>We believe that every student is unique</p>
							
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	</div>
	<!--//banner-slider-->

</section>
<!-- //w3l-banner-slider-main -->
<section class="w3l-content-6">
	<!-- /content-6-section -->
	<div class="content-6-mian py-5">
		<div class="container py-lg-5">

			<div class="row title-content">
				<div class="col-lg-4 title-left">
					<h3 class="hny-title">Empowering Education</h3>
				</div>
				<div class="col-lg-8 title-info">
					<p>We are one of the fastest growing Education center. We deliver quality education with world class infrastructure and highly qualified Faculties.
						We are proud to mentor our Students.
					</p>
				</div>
			</div>

			<div class="content-info-in row mt-md-5 mt-4">
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" href="@Url.Action("","")"><img src="~/assets/images/1.jpg" class="img-fluid" alt="">
						<div class="details"><span class="title">Attendance</span></div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" href="@Url.Action("Courses","Website")"><img src="~/assets/images/2.jpg" class="img-fluid" alt="">
						<div class="details"><span class="title">Courses</span></div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" href="@Url.Action("","")"><img src="~/assets/images/3.jpg" class="img-fluid" alt="">
						<div class="details"><span class="title">Library</span></div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 imghrs">
					<!--Link need to be inserted-->
					<a class="imghr" href="@Url.Action("","")"><img src="~/assets/images/4.jpg" class="img-fluid" alt="">
						<div class="details"><span class="title">Latest Happenings</span></div>
					</a>
				</div>
			</div>

		</div>

	</div>
	
</section>
<!-- //content-6-section -->

<!-- //features-1-->
<section class="w3l-video-main">
	<!-- /video-6-->
	<div class="video-66-info">
		<div class="container-fluid">
			<div class="video-grids-info row">
				<div class="video-gd-right col-lg-11">
					<div class="video-inner history-info text-center">
						<!--popup-->
						<a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
							 <span class="video-play-icon">
								 <span class="fa fa-play"></span>
							</span>
						</a>

								  <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
						<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
							<iframe src="https://player.vimeo.com/video/279436396"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
									<!--//popup-->
					</div>
				 </div>
				

			</div>
		</div>
	</div>
</section>
<!-- //video-6-->



<section class="w3l-customers-6">
	<!--/customers -->
	<div class="customers-6-infhny py-5">
		<div class="container py-lg-5">

				<div class="row title-content mb-5">
						<div class="col-lg-12 title-left">
							<h3 class="text-center hny-title text-success" >Happy Students</h3>
						</div>
				</div>

				<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Carousel indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
							<li data-target="#myCarousel" data-slide-to="4"></li>
							<li data-target="#myCarousel" data-slide-to="5"></li>
						</ol>   
						<!-- Wrapper for carousel items -->
						<div class="carousel-inner">
							<div class="item carousel-item active">
								<div class="img-box"><img src="~/assets/images/D.jpeg" alt=""></div>
						<p class="testimonial">It was my immense luck and fortune to be the part of this University where I can grow. The entire faculty and department leaves no stone unturned to shape one's future. My four years at this University have been a wonderful experience of learning with prolific exposure to outside. Huge respect, love and devotion for entire faculty members and department. It's their efforts that make me to count myself into better professionals.</p>
								<p class="overview"><b>Dipesh Kumar</b></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-half-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="~/assets/images/Ri.jpeg" alt=""></div>
						<p class="testimonial">You get a lot of opportunities. Work hard to get it. Be prepared for everything. Maintain your attendance.</p>
								<p class="overview"><b>Richa Singh</b></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="~/assets/images/t.jpeg" alt=""></div>
						<p class="testimonial">My experience at PS University is great and memorable. The teachers and mentors are really helpful and helped me to improve my academic and interpersonal skills.</p>
								<p class="overview"><b>Taha Tariq</b></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-half-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="~/assets/images/y.jpeg" alt=""></div>
						<p class="testimonial">PS University and PS faculties have put in all the efforts to groom us and make us corporate professionals. It was a wonderful experience at PS University.</p>
								<p class="overview"><b>Yashi Rai</b></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="~/assets/images/p.jpeg" alt=""></div>
						<p class="testimonial">I am grateful for the efforts of Department of Corporate Affairs to pitch us all at a platform like PureSoftware and other renowned companies.</p>
								<p class="overview"><b>Parvika Gupta</b></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-half-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="~/assets/images/Ro.jpeg" alt=""></div>
						<p class="testimonial">I thank my ECE department and its faculty members for encouraging me to think globally and spread my wings to take off for the land of rising Sun and I appreciate the support of my university for shaping my career and getting me placed in such big MNCs.</p>
								<p class="overview"><b>Rohit Tanwar</b></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-half-o"></span></li>
									</ul>
								</div>
							</div>
							

				</div>
						<!-- Carousel controls -->
						<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
							<span class="fa fa-angle-left"></span>
						</a>
						<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
							<span class="fa fa-angle-right"></span>
						</a>
				</div>
		  </div>
		<!--//customers -->
	</div>
</section>





@*
<section class="w3l-customers-6">
	<div class="customers-6-infhny py-5">
		<div class="container py-lg-5">

			<div class="row title-content mb-5">
					<div class="col-lg-12 title-left">
						<h3 class="text-center hny-title text-success">Top Faculties</h3>
					</div>
			</div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="img-box"><img src="~/assets/images/c1.jpg" alt=""></div>
						<p class="testimonial">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.</p>
						<p class="overview"><b>Michael Holz</b>Seo Analyst at <a href="#">Company Exp.</a></p>
						<div class="star-rating">
							<ul class="list-inline">
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star-o"></span></li>
							</ul>
						</div>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="~/assets/images/c2.jpg" alt=""></div>
						<p class="testimonial">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.</p>
						<p class="overview"><b>Paula Wilson</b>Media Analyst at <a href="#">Company Exp.</a></p>
						<div class="star-rating">
							<ul class="list-inline">
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star-o"></span></li>
							</ul>
						</div>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="~/assets/images/c3.jpg" alt=""></div>
						<p class="testimonial">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.</p>
						<p class="overview"><b>Antonio Moreno</b>Web Developer at <a href="#">Company Exp.</a></p>
						<div class="star-rating">
							<ul class="list-inline">
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star"></span></li>
								<li class="list-inline-item"><span class="fa fa-star-half-o"></span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<span class="fa fa-angle-left"></span>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<span class="fa fa-angle-right"></span>
				</a>
			</div>
		</div>
	</div>
</section> *@


